
footer{
    text-align: center;
    padding-top: 12%;
    font-weight: bold;
    color: white;
    
    @media @tablet{
        font-size: 12px;
        
    }
<<<<<<< HEAD
    @media @phone{
        padding-top: 0%;
    }
=======
  
  
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 25px;
    font-size: 1em;
    color: @white;

>>>>>>> d17de7fdc0e93ff33c7ff821c79ee6adeda748ca
}