body{
    background-image: url('https://files.slack.com/files-pri/T4JUEB3ME-FPMRT6D2L/courtbg.jpg');
    
    background-size: 2000px;

    
}



.how-to-use{
    text-align: center;
    color: white;
    width: 75%;
    margin: 0 auto;
    font-size: 32px;
    color: white;
    margin-top: 10%;
    border-top: 1px solid white;
    
    
    
    
    @media @phone{
        width: 75%;
        font-size: 18px;
border-top: none;
margin-top: 3%;
    }
    
}

.button{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 2%;

    
 
    button{
        .button-design(black,white)

    
    }
    
        button:hover{
            .button-design(blue,white)
        }
    
    };
    


hr{
width: 90%;
margin-top: 1%;
margin-bottom: 15px;

}

.mission-statement{
    text-align: center;
    margin-top: 15%;
    color: black;
    font-size: 20px;
    margin-top: 30%;   
    box-sizing: content-box;
    border: 1px solid black;
    width: 90%;
    padding: 4px;
    background: lightblue;
    border-radius: 3px; 
    margin-left: 5%;

    @media @phone{
      
      margin-top: 7%;
        font-size: 10px;
        
            
    }
p{
    font-size: 24px;
    font-weight: bold;
    
}
    @media @phone{
        margin-right: 2%;
        
    }
}

