nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background-color: #e8e8eb;

    h1 {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: solid 1px black;
    
        @media @tablet {
            border-bottom: none;
            padding-bottom: 0px;
        }
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        font-size: 1em;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px black;
    
        @media @tablet {
            border-bottom: none;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 15px;
        }
    }

    @media @tablet {
        display: flex;
        flex-direction: row;
        top: 0px;
        padding: 10px;
        border-bottom: black solid 1px;
    }
}

.navdiv1 {
    width: 100%;

    @media @tablet {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.navdiv2 {
    width: 100%;

    @media @tablet {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}



