
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 1000px)";
<<<<<<< HEAD
@675: ~"(max-width: 675px)";
=======
@608: ~"(max-width: 608px)";

// tablet var
@tablet: ~"(min-width: 500px)";

// desktop var
@desktop: ~"(min-width: 1000px)";

@white: white;

>>>>>>> d17de7fdc0e93ff33c7ff821c79ee6adeda748ca
